.jumbotron{
    width:90%;
    /* margin-left:1%;
    margin-right:1%; */
    /* margin: 10%; */
    /* margin-left:5%;
    margin-right:5%; */
    margin: auto;
}
.container{
    width:50%;
    /* margin-left:1%;
    margin-right:1%; */
    /* margin: 10%; */
    /* margin-left:5%;
    margin-right:5%; */
    margin: auto;
}